doctype html
html(lang="ru")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(charset="utf-8")
        title="ADMIN ifcongress"
        link(rel='stylesheet', href='/lib/reset.css')
        link(rel="stylesheet" href="/lib/cropper.min.css" )
        link(rel='stylesheet', href='/lib/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/lib/video-js.min.css' )
        link(rel='stylesheet', href='/stylesheets/1020.css' )
        script(src="/lib/bootstrap.bundle.min.js")
        script(src="/lib/cropper.min.js")
        script(src="/javascripts/utils.js")
