.foregnForm
    .mt-3.foregnFormRow
        div Фамилия
        input(name="f")
    .mt-3.foregnFormRow
        div Имя
        input(name="f")
    .mt-3.foregnFormRow
        div Отчество
        input(name="f")
