.foregnForm
    .mt-3.foregnFormRow
        div Фамилия
        input(name="f")
    .mt-3.foregnFormRow
        div Имя
        input(name="f")
    .mt-3.foregnFormRow
        div Отчество
        input(name="f")
    .mt-3.foregnFormRow
        div паспорт
        input(name="passportNumber")
    .mt-3.foregnFormRow
        div компания
        input(name="companyShort")
    .mt-3.foregnFormRow
        div должность
        input(name="position")
    .mt-3.btn.btn-sm.btn-success Зарегистрировать
