h4 Регистрация иностранца
.foregnForm
    .mt-3.foregnFormRow
        div Фамилия
        input(name="f")
    .mt-3.foregnFormRow
        div Имя
        input(name="f")
    .mt-3.foregnFormRow
        div Отчество
        input(name="f")
    .mt-3.foregnFormRow
        div Паспорт
        input(name="passportNumber")
    .mt-3.foregnFormRow
        div Компания
        input(name="companyShort")
    .mt-3.foregnFormRow
        div Должность
        input(name="position")
    .mt-3.foregnFormRow
        div Email
        input(name="email")
    .mt-3.foregnFormRow
        div Телефон
        input(name="phone")
    .mt-3.foregnFormRow
        div Имя доверенного лица
        input(name="proxyi")
    .mt-3.foregnFormRow
        div Тел доверенного лица
        input(name="proxyphone")
    .mt-3.foregnFormRow
        div Email доверенного лица
        input(name="proxyemail")
    .mt-3.btn.btn-sm.btn-success#foregnBtn Зарегистрировать
    .mt-3  Все поля на ваше усмотрение
