extends adminLayout

block content
  .flex.center
    div
      h4 Администрирование ifcongress.ru
      mt-3 Выберите из меню
  script(src="/lib/vue.js")
  script(src="/javascripts/mainScript.js")



