doctype html
html(lang="ru")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    title="ADMIN ifcongress"
    link(rel='stylesheet', href='/lib/reset.css')
    link(rel='stylesheet', href='/lib/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/lib/bootstrap.bundle.min.js")
    block head
  body
    block content
