.fullScreenBox
    .fullScreencontent
        .photoEditorImageBox
            img#photoEditorImage
        .flex.left.mt-3
            .btn.btn-small.btn-success#photoSaveBtn Сохранить
    .fullScreenCloseNotSave.flex.center
        iconify-icon(icon="material-symbols:close")


