html(lang="ru")
    head
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    body
        .tower(style="width:490px;font-family:Arial, SANS-SERIF;margin-top:0")
            img(style="width:490px;height: auto;margin-top:32px" width="388" height="105"  src="cid:sber" alt="Sber logo" )
            .div(style="width:490px;")
                .div(style="font-family:Arial, SANS-SERIF;font-weight: 500;font-size: 26px;line-height: 32px;color: #2F3C43;;margin-bottom:24px") !{user.i}, добрый день!
                .div(style="font-family:Arial, SANS-SERIF;font-weight: 400;font-size: 18px;line-height: 24px;letter-spacing: 0.02em;margin-bottom:32px") Приглашаем вас на&nbsp;собственную сессию Сбера «Киберфрод: новые вызовы и&nbsp;новые возможности», которая состоится в&nbsp;рамках Уральского форума «Кибербезопасность в&nbsp;финансах» 16&nbsp;февраля.
                .div(style="font-family:Arial, SANS-SERIF;font-weight: 400;font-size: 18px;line-height: 24px;letter-spacing: 0.02em;margin-bottom:32px") В ходе сессии Сбера эксперты обсудят новые вызовы и&nbsp;возможности в&nbsp;сфере кибербезопасности, создание национальный платформы андифрода, а&nbsp;также технические решения для&nbsp;повышения уровня кибербезопасности в&nbsp;финансовой сфере.
                .div(style="font-family:Arial, SANS-SERIF;font-weight: 500;font-size: 22px;line-height: 24px;letter-spacing: 0.02em;margin-bottom:12px") В сессии примут участие:
                ul(style="font-family:Arial, SANS-SERIF;font-weight: 400;font-size: 18px;line-height: 24px;letter-spacing: 0.02em;margin-bottom:32px")
                        li Дмитрий Гадарь, Тинькофф банк;
                        li Виталий Задорожный, Альфа-Банк;
                        li Сергей Хренов, Мегафон;
                        li Сергей Хуторцев, Главный&nbsp;радиочастотный&nbsp;центр
                .div(style="font-family:Arial, SANS-SERIF;font-weight: 500;font-size: 22px;line-height: 24px;letter-spacing: 0.02em;margin-bottom:12px") Модератор сессии:
                ul(style="font-family:Arial, SANS-SERIF;font-weight: 400;font-size: 18px;line-height: 24px;letter-spacing: 0.02em;margin-bottom:32px")
                    li
                        div вице-президент, директор департамента&nbsp;кибербезопасности&nbsp;Сбербанка
                        div Сергей Лебедь
                .div(style="font-family:Arial, SANS-SERIF;font-weight: 400;font-size: 18px;line-height: 24px;letter-spacing: 0.02em;margin-bottom:32px") Сессия состоится 16&nbsp;февраля с&nbsp;14:00 до&nbsp;15:15 в&nbsp;зале&nbsp;1.
                .div(style="font-family:Arial, SANS-SERIF;font-weight: 400;font-size: 18px;line-height: 24px;letter-spacing: 0.02em;margin-bottom:32px")  Предварительная регистрация не&nbsp;требуется.
