html(lang="ru")
    head
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    body
        .tower(style="width:490px;font-family:Arial, SANS-SERIF;margin-top:0")
            img(style="width:490px;height: auto;margin:60px; margin-bottom:0" width="364" height="76"  src="cid:fincert" alt="Fincert logo" )
            .div(style="width:490px;margin:60px")
                .div(style="font-family:Arial, SANS-SERIF;font-weight: 500;font-size: 26px;line-height: 32px;color: #2F3C43;;margin-bottom:24px") !{user.i}, добрый день!
                .div(style="font-family:Arial, SANS-SERIF;font-weight: 400;font-size: 18px;line-height: 24px;letter-spacing: 0.02em;margin-bottom:32px") Приглашаем Вас на Закрытую сессию Финцерт&nbsp;Банка&nbsp;России, которая состоится  в&nbsp;рамках Уральского&nbsp;форума "Кибербезопасность&nbsp;в&nbsp;финансах" 15&nbsp;февраля&nbsp;2023&nbsp;года с&nbsp;19:00&nbsp;до&nbsp;21:00 в&nbsp;зале&nbsp;№2 (конференц-зона отеля&nbsp;"Хаятт&nbsp;Ридженси").
                .div(style="background: #F6F8F9;border-radius: 16px;padding:16px 36px")
                    .div(style="font-weight: 500;font-size: 16px;line-height: 24px;color: #979EA1;margin-bottom:12px") Модератор
                    .div(style="font-weight: 400;font-size: 16px;line-height: 24px;color: #435056;") Алексей Лукацкий
                    .div(style="font-weight: 400;font-size: 13px;line-height: 14px;color: #979EA1;margin-bottom:20px") Независимый эксперт
                    .div(style="background:rgba(127, 153, 218, 0.24);height: 2px;margin-bottom:20px")
                    .div(style="font-weight: 500;font-size: 16px;line-height: 24px;color: #979EA1;margin-bottom:12px") Спикеры
                    table(style="width: 100%;")
                        tr
                            td(width="50%")
                                .div(style="font-weight: 400;font-size: 16px;line-height: 24px;color: #435056;") Андрей Выборнов
                                .div(style="font-weight: 400;font-size: 13px;line-height: 14px;color: #979EA1;margin-bottom:20px") Банк&nbsp;России
                                .div(style="font-weight: 400;font-size: 16px;line-height: 24px;color: #435056;") Алексей Голенищев
                                .div(style="font-weight: 400;font-size: 13px;line-height: 14px;color: #979EA1;margin-bottom:20px") Банк&nbsp;России
                                .div(style="font-weight: 400;font-size: 16px;line-height: 24px;color: #435056;") Юрий Лысенко
                                .div(style="font-weight: 400;font-size: 13px;line-height: 14px;color: #979EA1;margin-bottom:20px") Банк&nbsp;России
                            td(width="50%")
                                .div(style="font-weight: 400;font-size: 16px;line-height: 24px;color: #435056;") Андрей Соколов
                                .div(style="font-weight: 400;font-size: 13px;line-height: 14px;color: #979EA1;margin-bottom:20px") Банк&nbsp;России
                                .div(style="font-weight: 400;font-size: 16px;line-height: 24px;color: #435056;") Вадим Уваров
                                .div(style="font-weight: 400;font-size: 13px;line-height: 14px;color: #979EA1;margin-bottom:20px") Банк&nbsp;России
                                .div(style="font-weight: 400;font-size: 16px;line-height: 24px;color: #435056;") Григорий Царев
                                .div(style="font-weight: 400;font-size: 13px;line-height: 14px;color: #979EA1;margin-bottom:20px") Банк&nbsp;России
