html(lang="ru")
    head
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    body
        .tower(style="max-width:800px; margin:0 auto")
            img(style="width:100%;;margin-bottom:32px" src="cid:head" alt="logo" )

            .tower(style="padding:0 24px")
                div(style="font-family:Arial, SANS-SERIF;font-weight: 500;font-size: 26px;line-height: 32px;color: #2F3C43;;margin-bottom:32px") !{user.i}, добрый день!
                div(style="padding:27px 31px;color: #FFFFFF;background: #64B8E8;border-radius: 16px;margin-bottom:50px")
                    div(style="font-family:Arial, SANS-SERIF;font-weight: 700;font-size: 18px;line-height: 24px;letter-spacing: 0.02em;margin-bottom:24px") Приглашаем вас принять участие в&nbsp;мероприятиях спортивной и&nbsp;экскурсионной программы форума, которые пройдут 14,&nbsp;15&nbsp;и&nbsp;18&nbsp;февраля в&nbsp;Екатеринбурге
                    div(style="font-family:Arial, SANS-SERIF;font-weight: 400;font-size: 16px;line-height: 21px;letter-spacing: 0.02em;") Вы можете записаться на экскурсии в&nbsp;Музей Высоцкого, Музей автомобильной техники УГМК в&nbsp;Верхней Пышме, Музей Ельцин Центра и&nbsp;на&nbsp;Свердловскую киностудию на&nbsp;
                        a(href="https://uralcyberfin.ru/personal/" + user.guid style="color:white;text-decoration: underline;") своей персональной странице.

                div(style="font-family:Arial, SANS-SERIF;font-weight: 500;font-size: 26px;line-height: 32px;color: #2F3C43;;margin-bottom:12px;text-transform: uppercase;") Спортивная Программа
                div(style="font-family:Arial, SANS-SERIF;font-weight: 400;font-size:16px;line-height: 21px;color: #586368;;margin-bottom:50px") Участие в&nbsp;спортивной и&nbsp;экскурсионной программе возможно только по&nbsp;предварительной записи. Записаться на&nbsp;персональной странице вы&nbsp;можете до&nbsp;18:00&nbsp;10&nbsp;февраля&nbsp;(пятница). При наличии свободных мест в&nbsp;экскурсионных группах, вы сможете записаться на&nbsp;экскурсии 14&nbsp;и&nbsp;15&nbsp;февраля на главной стойке регистрации в&nbsp;отеле «Хаятт Ридженси».
                table(style="width:100%;;margin-bottom:32px;background: #F6F8F9;border-radius: 16px;" border="0")
                    tr
                        td(style="width:25%;overflow:hidden")
                            img(style="width:100%;height: auto;" src="cid:hockey" width="142" height="336" alt="Хоккей в валенках")
                        td(style="width:75%;vertical-align: top;")
                            div(style="padding:24px")
                                div(style="font-family:Arial, SANS-SERIF;font-weight: 500;font-size: 18px;line-height: 21px;letter-spacing: 0.02em;color: #2F3C43;margin-bottom:12px;text-transform: uppercase;") Хоккей в валенках
                                div(style="font-family:Arial, SANS-SERIF;font-weight: 400;font-size: 16px;line-height: 21px;letter-spacing: 0.02em;color: #2F3C43;margin-bottom:12px") Добрая традиция форума – чемпионат по хоккею в валенках. Матчи пройдут вечером 14 февраля. Присоединяйтесь к командам, чтобы побороться за кубок! Команды будут сформированы перед матчем.
                                div(style="font-family:Arial, SANS-SERIF;font-weight: 400;font-size: 16px;line-height: 21px;letter-spacing: 0.02em;color: #2F3C43;margin-bottom:12px") 14 февраля 18:00

                table(style="width:100%;;margin-bottom:32px;background: #F6F8F9;border-radius: 16px;" border="0")
                    tr
                        td(style="width:25%;overflow:hidden")
                            img(style="width:100%;height: auto;" src="cid:katok" width="142" height="336" alt="Каток")
                        td(style="width:75%;vertical-align: top;")
                            div(style="padding:24px")
                                div(style="font-family:Arial, SANS-SERIF;font-weight: 500;font-size: 18px;line-height: 21px;letter-spacing: 0.02em;color: #2F3C43;margin-bottom:12px;text-transform: uppercase;") Массовое Катание
                                div(style="font-family:Arial, SANS-SERIF;font-weight: 400;font-size: 16px;line-height: 21px;letter-spacing: 0.02em;color: #2F3C43;margin-bottom:12px") Каток «Арена Парк» - одна из самых красивых ледовых площадок Екатеринбурга. Приглашаем вас приятно провести время на катке вечером 14 февраля, полюбоваться видами Башни Исеть и пообщаться с коллегами в неформальной атмосфере.
                                div(style="font-family:Arial, SANS-SERIF;font-weight: 400;font-size: 16px;line-height: 21px;letter-spacing: 0.02em;color: #2F3C43;margin-bottom:12px") 14 февраля 18:00

                table(style="width:100%;;margin-bottom:50px;background: #F6F8F9;border-radius: 16px;" border="0")
                    tr
                        td(style="width:25%;overflow:hidden")
                            img(style="width:100%;height: auto;" src="cid:bank" width="142" height="336" alt="Зимние спортивные соревнования")
                        td(style="width:75%;vertical-align: top;")
                            div(style="padding:24px")
                                div(style="font-family:Arial, SANS-SERIF;font-weight: 500;font-size: 18px;line-height: 21px;letter-spacing: 0.02em;color: #2F3C43;margin-bottom:12px;text-transform: uppercase;") Зимние спортивные соревнования Уральского&nbsp;ГУ&nbsp;Банка&nbsp;России
                                div(style="font-family:Arial, SANS-SERIF;font-weight: 400;font-size: 16px;line-height: 21px;letter-spacing: 0.02em;color: #2F3C43;margin-bottom:12px") Любимый многими постоянными участниками Уральского форума Лыжный день. Вы можете испытать свои силы в соревновательной программе или просто насладиться склонами и беговой лыжней горнолыжного курорта Уктус и обедом на свежем воздухе. Лыжи, сноуборды и другое оборудование можно взять в прокат на курорте.
                                div(style="font-family:Arial, SANS-SERIF;font-weight: 400;font-size: 16px;line-height: 21px;letter-spacing: 0.02em;color: #2F3C43;margin-bottom:12px") 18 февраля 9:00–17:00


                div(style="font-family:Arial, SANS-SERIF;font-weight: 500;font-size: 26px;line-height: 32px;color: #2F3C43;;margin-bottom:32px;text-transform: uppercase;") Экскурсионная программа

                div(style="width:100%;;margin-bottom:32px;background: #F6F8F9;border-radius: 16px;padding:0" )
                    img(style="width:100%;height: auto;border-radius: 16px;" src="cid:studio" )
                    div(style="padding:24px")
                        div(style="font-family:Arial, SANS-SERIF;font-weight: 500;font-size: 18px;line-height: 21px;letter-spacing: 0.02em;color: #2F3C43;margin-bottom:12px;text-transform: uppercase;") Свердловская киностудия
                        div(style="font-family:Arial, SANS-SERIF;font-weight: 400;font-size: 16px;line-height: 21px;letter-spacing: 0.02em;color: #2F3C43;margin-bottom:12px") На обзорной экскурсии вас проведут по&nbsp;всем этапам производства медиа: от&nbsp;мастерской киномеханика через студию звука до&nbsp;действующего съемочного павильона. Специалисты расскажут, где и&nbsp;как ищут реквизит, в&nbsp;каких случаях нужны оригинальные вещи, а&nbsp;когда в&nbsp;дело вступают бутафоры. Вы сможете примерить костюмы из&nbsp;фильмов для памятных фото.<br><br>Также доступны тематические экскурсии: «Звукозапись», «Мультипликация», «Костюмы и&nbsp;реквизит», и&nbsp;др.

                div(style="width:100%;;margin-bottom:32px;background: #F6F8F9;border-radius: 16px;" )
                    img(style="width:100%;height: auto;border-radius: 16px;" src="cid:ugmk" )
                    div(style="padding:24px")
                        div(style="font-family:Arial, SANS-SERIF;font-weight: 500;font-size: 18px;line-height: 21px;letter-spacing: 0.02em;color: #2F3C43;margin-bottom:12px;text-transform: uppercase;") Музей УГМК
                        div(style="font-family:Arial, SANS-SERIF;font-weight: 400;font-size: 16px;line-height: 21px;letter-spacing: 0.02em;color: #2F3C43;margin-bottom:12px") Музейный комплекс Уральской горно-металлургической компании – это&nbsp;крупнейшее в&nbsp;России собрание ретро автомобилей, мотоциклов и&nbsp;велосипедов из&nbsp;нашей страны и&nbsp;мира за&nbsp;130 лет.<br><br>Гостей встречает реплика самого первого автомобиля, созданного Карлом Бенцем. Проходя по&nbsp;этажам, можно увидеть развитие автомобилей от&nbsp;вуатюреток до легендарных Cadillac&nbsp;V&#8209;12 и&nbsp;V&#8209;16, Auburn&nbspи&nbsp;др.

                div(style="width:100%;;margin-bottom:32px;background: #F6F8F9;border-radius: 16px;" )
                    img(style="width:100%;height: auto;border-radius: 16px;" src="cid:visot" )
                    div(style="padding:24px")
                        div(style="font-family:Arial, SANS-SERIF;font-weight: 500;font-size: 18px;line-height: 21px;letter-spacing: 0.02em;color: #2F3C43;margin-bottom:12px;text-transform: uppercase;") Музей Владимира Высоцкого
                        div(style="font-family:Arial, SANS-SERIF;font-weight: 400;font-size: 16px;line-height: 21px;letter-spacing: 0.02em;color: #2F3C43;margin-bottom:12px") Основанный в&nbsp;2012&nbsp;году частным меценатом-поклонником творчества Владимира&nbsp;Семёновича&nbsp;Высоцкого, этот мемориальный музей охватывает многие годы его жизни.<br><br>Так, здесь вы&nbsp;сможете увидеть личные письма, гастрольный чемоданчик, легендарный Mercedes&nbsp;350&nbsp;W116, принадлежавший Высоцкому с&nbsp;1976&nbsp;года, оригинальную Каннскую пальмовую ветвь, гитару, на&nbsp;которой Высоцкий играл только в&nbsp;Театре&nbsp;на&nbsp;Таганке, и&nbsp;многие другие вещи, принадлежавшие артисту.

                div(style="width:100%;;margin-bottom:50px;background: #F6F8F9;border-radius: 16px;" )
                    img(style="width:100%;height: auto;border-radius: 16px;" src="cid:elsin" )
                    div(style="padding:24px")
                        div(style="font-family:Arial, SANS-SERIF;font-weight: 500;font-size: 18px;line-height: 21px;letter-spacing: 0.02em;color: #2F3C43;margin-bottom:12px;text-transform: uppercase;") Музей Ельцин Центра
                        div(style="font-family:Arial, SANS-SERIF;font-weight: 400;font-size: 16px;line-height: 21px;letter-spacing: 0.02em;color: #2F3C43;margin-bottom:12px") На территории Ельцин центра находится современный музей, где&nbsp;используются медиапрограммы, интерактивные зоны с&nbsp;развёрнутыми документальными сюжетами. Его залы расположены в&nbsp;хронологическом порядке и&nbsp;посвящены ключевым политическим событиям 1980х&#8209;90&#8209;х: от&nbsp;перестройки до&nbsp;отставки Бориса Ельцина. Вы узнаете, как&nbsp;описывают свободу различные политические деятели последних тридцати лет, и&nbsp;сможете записать собственное видео&#8209;определение свободы.

                div(style="font-family:Arial, SANS-SERIF;font-weight: 500;font-size: 26px;line-height: 32px;color: #2F3C43;;margin-bottom:50px;text-transform: uppercase;") Прибытие в&nbsp;Екатеринбург<br>и&nbsp;трансфер из&nbsp;аэропорта
                div(style="font-family:Arial, SANS-SERIF;font-weight: 400;font-size: 16px;line-height: 21px;letter-spacing: 0.02em;color: #2F3C43;margin-bottom:50px") Для участников форума 14&nbsp;февраля будут организованы групповые трансферы из&nbsp;Международного аэропорта Екатеринбурга «Кольцово» на&nbsp;основную площадку Форума — отель «Хаятт Ридженси» и&nbsp;в&nbsp;отели «Хаятт Плейс», «Новотель» и&nbsp;«Four Elements».<br><br>Просим вас не&nbsp;позднее 10&nbsp;февраля&nbsp;(пятница) отметить на&nbsp;<a href="https://uralcyberfin.ru/personal/!{user.guid}" style="color:#2F3C43;text-decoration: underline;">персональной странице</a> время и&nbsp;номер рейса, которым вы&nbsp;прибываете в&nbsp;Екатеринбург. В&nbsp;противном случае мы не&nbsp;сможем гарантировать трансфер.

                div(style="padding:27px 31px;color: #FFFFFF;background: #64B8E8;border-radius: 16px;margin-bottom:50px")
                    div(style="font-family:Arial, SANS-SERIF;font-weight: 700;font-size: 18px;line-height: 24px;letter-spacing: 0.02em;margin-bottom:24px;text-transform: uppercase;") Памятка участника форума
                    div(style="font-family:Arial, SANS-SERIF;font-weight: 400;font-size: 16px;line-height: 21px;letter-spacing: 0.02em;") <a href="https://uralcyberfin.ru/images/Participant_Guidelines.pdf" download="Participant_Guidelines.pdf" style="color:#FFFFFF;text-decoration: underline;">По этой ссылке</a> вы&nbsp;найдете памятку участника форума с&nbsp;полезной информацией. Задать вопрос спикерам и&nbsp;организаторам, получить актуальную информацию о&nbsp;деловой программе и&nbsp;площадках проведения форума вы также можете <a href="https://t.me/uralcyberfin_bot" style="color:#FFFFFF;text-decoration: underline;">в&nbsp;нашем чат-боте @uralcyberfin_bot</a>.

                div(style="font-family:Arial, SANS-SERIF;font-weight: 500;font-size: 26px;line-height: 32px;color: #2F3C43;margin-bottom:32px;text-transform: uppercase;") Партнеры форума



                div(style="width:100%;;margin-bottom:32px;")
                    table(style="width:100%;" border="0")
                        tr
                            td
                                a(href="https://sberbank.ru/?erid=JapBI8g0S")
                                    img(alt="Сбербанк" width="276" height="136" src="cid:sber")
                            td
                                a(href="https://vtb.ru/")
                                    img(alt="VTB" width="276" height="136" src="cid:vtb")
                div(style="width:100%;;margin-bottom:32px;")
                    table(style="width:100%;;" border="0")
                        tr
                            td
                                a(href="https://www.gazprombank.ru/?erid=LdtCK8biU")
                                    img(alt="gazprombank" width="205" height="94" src="cid:gaz")
                            td
                                a(href="https://mironline.ru/?erid=JapBI7fWe")
                                    img(alt="mironline" width="142" height="94" src="cid:mir")
                            td
                                a(href="https://rt.ru/")
                                    img(alt="Ростелеком" width="205" height="94" src="cid:rt")
                div(style="width:100%;;margin-bottom:32px;")
                    table(style="width:100%;" border="0")
                        tr
                            td
                                a(href="https://t1.ru/")
                                    img(alt="Т1" width="138" height="86" src="cid:t1")
                            td
                                a(href="https://www.infowatch.ru/?erid=JapBIBh6a")
                                    img(alt="INFOWATCH" width="138" height="86" src="cid:iw")
                            td
                                a(href="https://www.tinkoff.ru/?erid=JapBI8MUW")
                                    img(alt="ТИНЬКОФФ" width="138" height="86" src="cid:tinfoff")
                            td
                                a(href="https://www.ptsecurity.com/ru-ru/?erid=JapBIYrOG")
                                    img(alt="Positive Technologies" width="138" height="86" src="cid:pt")
                div(style="width:100%;;margin-bottom:50px;text-align:center")
                    a(href="https://www.vedomosti.ru/?erid=LdtCKKfr4")
                        img(alt="Vedomosti" width="178" height="75" src="cid:ved")
