html(lang="ru")
    head
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    body
        .tower(style="width:520px;font-family:Arial, SANS-SERIF;margin-top:0;")
            img(style="width:100%;height:auto" width="488" height="472"  src="cid:logo" alt="Uralcyberfin logo" )
            .div(style="width:100%;font-family:Arial, SANS-SERIF;font-weight: 400;font-size: 18px;line-height: 24px;letter-spacing: 0.02em;margin-bottom:32px")
                .div(style="font-weight: 800;margin-bottom:32px;font-size: 28px;line-height: 42px;") Итоги&nbsp;форума<br>«Кибербезопасность в&nbsp;финансах»
                .div(style="font-weight: 800;margin-bottom:24px;font-size: 18px;line-height: 24px;") Уважаемые коллеги!
                .div(style="font-weight: 300;margin-bottom:24px;font-size: 18px;line-height: 24px;") Благодарим вас за участие в Уральском форуме «Кибербезопасность в&nbsp;финансах».<br>В этом году мероприятия форума посетили более&nbsp;700&nbsp;делегатов из&nbsp;8&nbsp;стран: представители Банка&nbsp;России и&nbsp;международных национальных&nbsp;банков, федеральных органов&nbsp;власти, банков и&nbsp;финансовых организаций, эксперты ведущих компаний в&nbsp;области защиты информации.
                .div(style=";margin-bottom:36px;")
                    img(style="width:100%;height:auto" width="1054" height="370"  src="cid:pie" alt="pie chart" )
                .div(style="font-weight: 300;margin-bottom:24px;font-size: 18px;line-height: 24px;") Борьба с&nbsp;мошенничеством и&nbsp;социальной инженерией стала главной темой панельной дискуссии Форума, в&nbsp;которой приняла участие Председатель&nbsp;Банка&nbsp;России Эльвира&nbsp;Набиуллина.
            .div(style="font-family:Arial, SANS-SERIF;margin-top:0;margin-bottom:42px")
                img(style="width:100%;height:auto" width="1200" height="390"  src="cid:hall" alt="Uralcyberfin hall" )
            .div(style="font-family:Arial, SANS-SERIF;margin-top:0;")
            .div(style="font-weight: 300;margin-bottom:32px;font-size: 18px;line-height: 24px;text-align:center")
                a(style="padding:8px; color:#FFFFFF; background:#F98434;border-radius:8px" href="https://uralcyberfin.ru/ru#live") Запись панельной&nbsp;дискуссии
            .div(style="font-weight: 300;margin-bottom:24px;font-size: 18px;line-height: 24px;") В течение 5 насыщенных дней для&nbsp;гостей Уральского&nbsp;форума было организовано более тридцати деловых и&nbsp;культурных мероприятий: круглые столы, дискуссии и&nbsp;секции по&nbsp;актуальным вопросам информационной безопасности кредитно-финансовой сферы, экскурсии и&nbsp;спортивные соревнования. В рамках Форума при поддержке Платежной&nbsp;системы&nbsp;«Мир» прошла Молодежная программа, победители студенческого конкурса представили лучшие проекты по&nbsp;противодействию кибермошенничеству в&nbsp;финансовой&nbsp;сфере.
            .div(style="font-weight: 400;margin-bottom:64px;font-size: 18px;line-height: 24px;text-align:center")
                a(style="padding:8px; color:#FFFFFF; background:#F98434;border-radius:8px" href="https://uralcyberfin.ru/photo/archive") Фотобанк
            .div(style="font-weight: 500;margin-bottom:32px;font-size: 28px;line-height: 28px;text-align:center") ПАРТНЕРЫ ФОРУМА

            div(style="width:100%;;margin-bottom:32px;")
                table(style="width:100%;" border="0")
                    tr
                        td
                            a(href="https://sberbank.ru/?erid=JapBI8g0S")
                                img(alt="Сбербанк" width="276" height="136" src="cid:sber")
                        td
                            a(href="https://vtb.ru/")
                                img(alt="VTB" width="276" height="136" src="cid:vtb")
            div(style="width:100%;;margin-bottom:32px;")
                table(style="width:100%;;" border="0")
                    tr
                        td
                            a(href="https://www.gazprombank.ru/?erid=LdtCK8biU")
                                img(alt="gazprombank" width="205" height="94" src="cid:gaz")
                        td
                            a(href="https://mironline.ru/?erid=JapBI7fWe")
                                img(alt="mironline" width="142" height="94" src="cid:mir")
                        td
                            a(href="https://rt.ru/")
                                img(alt="Ростелеком" width="205" height="94" src="cid:rt")
            div(style="width:100%;;margin-bottom:32px;")
                table(style="width:100%;" border="0")
                    tr
                        td
                            a(href="https://t1.ru/")
                                img(alt="Т1" width="138" height="86" src="cid:t1")
                        td
                            a(href="https://www.infowatch.ru/?erid=JapBIBh6a")
                                img(alt="INFOWATCH" width="138" height="86" src="cid:iw")
                        td
                            a(href="https://www.tinkoff.ru/?erid=JapBI8MUW")
                                img(alt="ТИНЬКОФФ" width="138" height="86" src="cid:tinfoff")
                        td
                            a(href="https://www.ptsecurity.com/ru-ru/?erid=JapBIYrOG")
                                img(alt="Positive Technologies" width="138" height="86" src="cid:pt")
            div(style="width:100%;;margin-bottom:50px;text-align:center")
                a(href="https://www.vedomosti.ru/?erid=LdtCKKfr4")
                    img(alt="Vedomosti" width="178" height="75" src="cid:ved")
