html
    head
    body
        table(border="0" cellpadding="0" cellspacing="0" style="max-width:600px; width:100%; margin:0 auto;font-family:Arial;font-weight: 400;font-size: 16px;")
            tr
                td
                    img(src="cid:header" alt="header" width="600" height="262" style="width:100%;height:auto")
        table(border="0" cellpadding="0" cellspacing="0" style="max-width:490px; width:100%; margin:0 auto;font-family:Arial;font-weight: 400;font-size: 16px;")
            tr
                td(style=" font-family:Arial;font-weight: 800;font-size: 22px;line-height: 150%;color: #2F3C43; padding-top:6px") Открыта регистрация на Уральский форум “Кибербезопасность в финансах” 2024
            tr
                td(style="font-family:Arial;font-weight: 400;font-size: 16px;line-height: 150%;color: #586368; padding-top:6px")
                    span Форум состоится
                    span(style="color:#64B8E8")  13 – 17 февраля 2024 г.
                    span &nbsp;в&nbsp;Екатеринбурге.<br>Место проведения - отель «Хаятт Ридженси Екатеринбург».<br>Организатор - Банк России.
            tr
                td( style="font-family:Arial;font-weight: 400;font-size: 16px;line-height: 150%;color: #586368; padding-top:24px;")
                    table(border="0" cellpadding="0" cellspacing="0" style="width:100%;")
                        tr(style="text-align: center")

                                a(href="https://uralcyberfin.ru/registration/ru" target="_blank" style="box-sizing: border-box;width:max-content;text-decoration: none;;display:inline-block; width:100%;color:#FFFFFF; background:#64B8E8;cursor:pointer; border-radius:12px;padding:12px 24px;text-align:center") Зарегистрироваться

            include divaider

            tr
                td( style="font-family:Arial;font-weight: 400;font-size: 16px;line-height: 150%;color: #586368;")
                    table(border="0" cellpadding="0" cellspacing="0" style="width:100%;")
                        tr
                            td(style="width:48px")
                                img(src="cid:aboutLogo" width="32" height="32" style="width:32px;height:auto")
                            td(style="font-family:Arial;font-weight: 800;font-size: 22px;line-height: 150%;color: #2F3C43;") О ФОРУМЕ
            tr
                td(style="font-family:Arial;font-weight: 400;font-size: 16px;line-height: 150%;color: #586368; padding-top:16px")
                    span Форум “Кибербезопасность&nbsp;в&nbsp;финансах” — крупнейшее мероприятие, посвященное обсуждению трендов и вызовов в&nbsp;области информационной безопасности, приоритетов и&nbsp;перспектив развития киберустойчивости финансовых организаций. Форум объединяет представителей регулятора и профильных органов государственной власти, экспертов из компаний финансовой сферы, поставщиков решений в&nbsp;области киберзащиты для открытого диалога в&nbsp;стремительно меняющихся условиях.
            tr
                td( style="font-family:Arial;font-weight: 400;font-size: 16px;line-height: 150%;color: #586368;")
                    div(style="width:100%;height:1px;border-top:1px solid #EEF1F2;margin-bottom:40px;margin-top:40px")
            tr
                td( style="font-family:Arial;font-weight: 400;font-size: 16px;line-height: 150%;color: #586368;")
                    table(border="0" cellpadding="0" cellspacing="0" style="width:100%;")
                        tr
                            td(style="width:48px")
                                img(src="cid:inDogitLogo" width="32" height="32" style="width:32px;height:auto")
                            td(style="font-family:Arial;font-weight: 800;font-size: 22px;line-height: 150%;color: #2F3C43;") В ЦИФРАХ И ЛИЦАХ
            tr
                td(style="font-family:Arial;font-weight: 400;font-size: 16px;line-height: 150%;color: #586368; padding-top:16px")
                    img(src="cid:diagram" width="490" height="185px" style="width:100%;height:auto;margin-top:24px;")
            tr
                td( style="font-family:Arial;font-weight: 400;font-size: 16px;line-height: 150%;color: #586368;" alt="диаграмма участников")
                    div(style="width:100%;height:1px;border-top:1px solid #EEF1F2;margin-bottom:40px;margin-top:40px")
            tr
                td
                    table(border="0" cellpadding="0" cellspacing="0" style="width:100%;padding:32px;border-radius:24px;background:#F5F7F9")
                        tr
                            td
                                div(style="box-sizing: border-box;background: #ED7D31; border-radius:8px;color:#FFFFFF; font-size:24px; font-weight:800;text-align: center; width:40px;height:40px")
                                    div(style="padding:3px") ?
                            td(style="font-family:Arial;font-weight: 800;font-size: 22px;line-height: 150%;color: #2F3C43;padding-left:12px") ЗАЧЕМ УЧАСТВОВАТЬ В ФОРУМЕ
                        tr
                            td(colspan="2")
                                div(style="height:24px")
                        tr
                            td
                                div(style="box-sizing: border-box;background: #708AB8; border-radius:8px;color:#FFFFFF; font-size:24px; font-weight:800;text-align: center; width:40px;height:40px;vertical-align: middle;")
                                    div(style="padding:3px") 1
                            td(style="font-family:Arial;font-weight: 400;font-size: 16px;line-height: 150%;color: #586368;padding-left:12px") Открыть новые пути решения вопросов в сфере кибербезопасности банковской сферы.
                        tr
                            td(colspan="2")
                                div(style="margin:12px 0; height:1px;background:#EEF1F2")
                        tr
                            td
                                div(style="box-sizing: border-box;background: #708AB8; border-radius:8px;color:#FFFFFF; font-size:24px; font-weight:800;text-align: center;width:40px;height:40px")
                                    div(style="padding:3px") 2
                            td(style="font-family:Arial;font-weight: 400;font-size: 16px;line-height: 150%;color: #586368;padding-left:12px") Узнать, как будет развиваться регулирование и правоприменение.
                        tr
                            td(colspan="2")
                                div(style="margin:12px 0; height:1px;background:#EEF1F2")
                        tr
                            td
                                div(style="box-sizing: border-box;background: #708AB8; border-radius:8px;color:#FFFFFF; font-size:24px; font-weight:800;text-align: center; width:40px;height:40px")
                                    div(style="padding:3px") 3
                            td(style="font-family:Arial;font-weight: 400;font-size: 16px;line-height: 150%;color: #586368;padding-left:12px") Обменяться опытом с коллегами и найти новых деловых партнеров и сотрудников.
                        tr
                            td(colspan="2" style="padding-top:24px; text-align:center;")
                                a(href="https://uralcyberfin.ru/registration/ru" target="_blank" style="font-family:Arial;font-weight: 400;font-size: 16px;line-height: 150%;margin: 0 auto;text-decoration: none;display:block; width:max-content;color:#FFFFFF; background:#64B8E8;cursor:pointer; border-radius:12px;padding:12px 24px;text-align:center") Зарегистрироваться
            include divaider

            tr
                td( style="font-family:Arial;font-weight: 400;font-size: 16px;line-height: 150%;color: #586368;")
                    table(border="0" cellpadding="0" cellspacing="0" style="width:100%;")
                        tr
                            td(style="width:48px")
                                img(src="cid:keyLogo" width="32" height="32" style="width:32px;height:auto")
                            td(style="font-family:Arial;font-weight: 400;font-size: 16px;line-height: 150%;color: #586368;font-family:Arial;font-weight: 800;font-size: 22px;line-height: 150%;color: #2F3C43;") КЛЮЧЕВЫЕ НАПРАВЛЕНИЯ ОСНОВНЕЙ ПРОГРАММЫ ФОРУМА
            tr
                td( style="font-family:Arial;font-weight: 400;font-size: 16px;line-height: 150%;color: #586368;")
                    table(border="0" cellpadding="0" cellspacing="0" style="width:100%;border-radius:8px;border:1px solid #EEF1F2;padding:16px;margin-top:24px;")
                            tr
                                td(style="width:64px")
                                    img(src="cid:infBezLogo" width="40" height="40" style="width:40px;height:auto")
                                td(style="font-family:Arial;font-weight: 400;font-size: 16px;line-height: 150%;color: #586368;") Информационная безопасность и операционная надежность оказания банковских и финансовых услуг
                    table(border="0" cellpadding="0" cellspacing="0" style="width:100%;border-radius:8px;border:1px solid #EEF1F2;padding:16px;margin-top:24px;")
                        tr
                            td(style="width:64px")
                                img(src="cid:zazitaLogo" width="40" height="40" style="width:40px;height:auto")
                            td(style="font-family:Arial;font-weight: 400;font-size: 16px;line-height: 150%;color: #586368;") Защита прав потребителей финансовых услуг и повышение уровня доверия к&nbsp;цифровым технологиям
                    table(border="0" cellpadding="0" cellspacing="0" style="width:100%;border-radius:8px;border:1px solid #EEF1F2;padding:16px;margin-top:24px;")
                        tr
                            td(style="width:64px")
                                img(src="cid:securityLogo" width="40" height="40" style="width:40px;height:auto")
                            td(style="font-family:Arial;font-weight: 400;font-size: 16px;line-height: 150%;color: #586368;") Безопасное внедрение цифровых и&nbsp;платежных технологий
            tr
                td( style="padding-top:48px")
                    img(src="cid:photos" width="490" height="327" style="width:100%;height:auto")
            include divaider
            tr
                td( style="font-family:Arial;font-weight: 400;font-size: 16px;line-height: 150%;color: #586368;")
                    table(border="0" cellpadding="0" cellspacing="0" style="width:100%;")
                        tr
                            td(style="width:48px")
                                img(src="cid:plusLogo" width="32" height="32" style="width:32px;height:auto")
                            td(style="font-family:Arial;font-weight: 800;font-size: 22px;line-height: 150%;color: #2F3C43;") НОВОЕ НА ФОРУМЕ В 2024 ГОДУ
            tr
                td(style="padding-top:12px")
                    table(border="0" cellpadding="0" cellspacing="0" style="width:100%;font-family:Arial;font-weight: 400;font-size: 16px;line-height: 150%;color: #586368;")
                        tr
                            td(style="padding:12px 23px;padding-left:0;font-family:Arial;font-weight: 400;font-size: 16px;line-height: 150%;color: #586368;")
                                div(style="width:10px;height:10px;border-radius:50%;border: 1px solid #eef1f2;padding:4px;")
                                    div(style="width:10px;height:10px;border-radius:50%;background:#64B8E8")
                            td Спортивный день для участников: 17 февраля в горнолыжном комплексе Уктус
                    table(border="0" cellpadding="0" cellspacing="0" style="width:100%;margin-top:12px;font-family:Arial;font-weight: 400;font-size: 16px;line-height: 150%;color: #586368;")
                        tr
                            td(style="padding:12px 23px;padding-left:0;font-family:Arial;font-weight: 400;font-size: 16px;line-height: 150%;color: #586368;")
                                div(style="width:10px;height:10px;border-radius:50%;border: 1px solid #eef1f2;padding:4px;")
                                    div(style="width:10px;height:10px;border-radius:50%;background:#64B8E8")
                            td Новая интересная экскурсионная программа в Екатеринбурге и&nbsp;окрестностях
                    table(border="0" cellpadding="0" cellspacing="0" style="width:100%;margin-top:12px;font-family:Arial;font-weight: 400;font-size: 16px;line-height: 150%;color: #586368;")
                        tr
                            td(style="padding:12px 23px;padding-left:0;font-family:Arial;font-weight: 400;font-size: 16px;line-height: 150%;color: #586368;")
                                div(style="width:10px;height:10px;border-radius:50%;border: 1px solid #eef1f2;padding:4px;")
                                    div(style="width:10px;height:10px;border-radius:50%;background:#64B8E8")
                            td Активная интеграция Молодежной и основной программы: компании получают возможность познакомиться с молодыми талантами и предложить им стажировки
            tr
                td
                    table(border="0" cellpadding="0" cellspacing="0" style="width:100%;border-radius:8px;border:1px solid #EEF1F2;padding:16px;margin-top:24px;")
                       td(style="font-family:Arial;font-weight: 400;font-size: 16px;line-height: 150%;color: #586368;color:#64B8E8;font-size:20px;text-align: center;") P.S. Лобби-бар Hyatt Regency<br>на Форуме-2024 будет открыт!
            include divaider
            tr
                td
                    table(border="0" cellpadding="0" cellspacing="0" style="width:100%;padding:32px;border-radius:24px;background:#F5F7F9")
                        tr
                            td(style=" border-radius:8px;color:#FFFFFF; font-size:24px; font-weight:800;")
                                img(src="cid:infoIco" width="40" height="40" style="width:40px;height:auto")
                            td(style="font-family:Arial;font-weight: 800;font-size: 22px;line-height: 120%;color: #2F3C43;padding-left:12px") Чтобы принять участие в&nbsp;форуме, необходимо
                        tr
                            td(colspan="2")
                                div(style="height:24px")
                        tr
                            td
                                div(style="box-sizing: border-box;background: #708AB8; border-radius:8px;color:#FFFFFF; font-size:24px; font-weight:800;text-align: center; width:40px;height:40px")
                                    div(style="padding:3px") 1
                            td(style="font-family:Arial;font-weight: 400;font-size: 16px;line-height: 150%;color: #64B8E8;padding-left:12px") Заполнить анкету участника на сайте.
                        tr
                            td(colspan="2")
                                div(style="margin:12px 0; height:1px;background:#EEF1F2")
                        tr
                            td()
                                div(style="box-sizing: border-box;background: #708AB8; border-radius:8px;color:#FFFFFF; font-size:24px; font-weight:800;text-align: center; width:40px;height:40px")
                                    div(style="padding:3px") 2
                            td(style="font-family:Arial;font-weight: 400;font-size: 16px;line-height: 150%;color: #586368;padding-left:12px") Дождаться подтверждения вашей заявки оргкомитетом Форума: на email, указанный в заявке, придет уведомление о подтверждении и ссылка на&nbsp;Личный кабинет.
                        tr
                            td(colspan="2")
                                div(style="margin:12px 0; height:1px;background:#EEF1F2")
                        tr
                            td()
                                div(style="box-sizing: border-box;background: #708AB8; border-radius:8px;color:#FFFFFF; font-size:24px; font-weight:800;text-align: center;width:40px;height:40px")
                                    div(style="padding:3px") 3
                            td(style="font-family:Arial;font-weight: 400;font-size: 16px;line-height: 150%;color: #586368;padding-left:12px") Оплатить участие через Личный кабинет.
                        tr
                            td(colspan="2" style="padding-top:24px; text-align:center;")
                                a(href="https://uralcyberfin.ru/registration/ru" target="_blank" style="font-family:Arial;font-weight: 400;font-size: 16px;line-height: 150%;margin: 0 auto;text-decoration: none;display:block; width:max-content;color:#FFFFFF; background:#64B8E8;cursor:pointer; border-radius:12px;padding:12px 24px;text-align:center") Зарегистрироваться
            tr
                td(style="padding:48px 0; color:#2F3C43; font-size:24px;font-weight:400;text-align:center;") До встречи на форуме!
            tr
                td
                    img(src="cid:footer" alt="footer" width="490" height="66" style="width:100%;height:auto;margin-bottom:64px")
