html
    body
        p
            b(style="font-size:1.2em") Здравствуйте, #{user.i} #{user.o}!
        p
            div Благодарим за оплату счета.
            div Информация о местах, сроках и порядке получения бейджа участника будет доступна в личном кабинете.&nbsp;
                a(href="https://uralcyberfin.ru/personal/" + user.guid+"/ru") <b>https://uralcyberfin.ru/personal/#{user.guid}/ru</b>
        include mailFooter
