html
    body
        p
            b(style="font-size:1.2em") Здравствуйте, #{user.i} #{user.o}!
        p
            div Ваша заявка на участие в Уральском форуме "Кибербезопасность в финансах" подтверждена.
            div ЖЖдем вас 12 – 16 февраля 2024 года в Екатеренбурге!
        p
            div Направляем Вам ссылку для персонального доступа к личному кабинету участника Форума:
                a(href="https://uralcyberfin.ru/uralcyberfin?token=" + user.guid) https://uralcyberfin.ru/personal?token=#{user.guid}
            div Это постоянно действующая ссылка на Вашу персональную страницу.
        p
            div В личном кабинете Вы можете:
                ul
                    li Направить в один из официальных отелей Форума запрос на бронирование номера
                    li Обозначить рейсы и даты прибытия и отъезда для организации трансфера
                    li Получить полезную для участия информацию.
        p
            div Это постоянно действующая ссылка на Вашу персональную страницу. Система запомнит Ваши бронирования и отобразит их при повторных входах. Информацию можно корректировать неоднократно.
        p
            div Ссылку можно запросить повторно на сайте Форума <a href="https://uralcyberfin.ru">uralcyberfin.ru</a> в пункте меню «Личный кабинет».

        include mailFooter
