html
    body
        p
            b(style="font-size:1.2em") Здравствуйте, #{user.i} #{user.o}!
        p
            div Благодарим Вас за заявку на аккредитацию для освещения в Финансового конгресса Банка России.
            div Ваша заявка на аккредитацию для освещения Финансового конгресса Банка России получена.
            div Оргкомитет рассмотрит ее и ответит на указанный вами e-mail в ближайшее время.
        p
            b(style="font-size:1.2em") Greetings!
        p
            div Thank you for your interest to participate in the Financial Congress of the Bank of Russia.
            div Your application has been received.
            div The Organising Committee will consider the application and respond shortly to the email you have provided.
        include mailFooter
