html
    body
        p
            b(style="font-size:1.2em") Здравствуйте, #{user.i} #{user.o}!
        p
            div Благодарим Вас за заявку на участие в Финансовом конгрессе Банка России.
        p
            div Ваша заявка на участие в Финансовом конгрессе Банка России получена.
            div Оргкомитет рассмотрит ее и ответит на указанный вами e-mail в ближайшее время.
        p
            b(style="font-size:1.2em") Greetings!
        p
            div Thank you for your interest to participate in the Financial Congress of the Bank of Russia.
        p
            div Your application has been received.
            div The Organising Committee will consider the application and respond shortly to the email you have provided.
        include mailFooter
