html
    body
        p
            b(style="font-size:1.2em") Здравствуйте, #{user.i} #{user.o}!
        p
            span Направляем Вам ссылку для персонального доступа к личному кабинету участника Форума:&nbsp;
                a(href="https://uralcyberfin.ru/personal/" + user.guid+"/ru") <b>https://uralcyberfin.ru/personal/#{user.guid}/ru</b>
                span ,&nbsp;
        p
            div Это постоянно действующая ссылка на Вашу персональную страницу.

        //p
            div В личном кабинете Вы можете:
            ul
                li Направить в один из официальных отелей Конгресса запрос на бронирование номера
                li Обозначить рейсы и даты прибытия и отъезда для организации трансфера
                li Получить полезную для участия информацию.
        //p
            div Это постоянно действующая ссылка на Вашу персональную страницу. Система запомнит Ваши бронирования и отобразит их при повторных входах. Информацию можно корректировать неоднократно.
        p
            div Ссылку можно запросить повторно на сайте Форума <a href="https://uralcyberfin.ru">uralcyberfin.ru</a> в пункте меню «Личный кабинет».



        include mailFooter


