html
    body
        p
            b(style="font-size:1.2em") Здравствуйте, #{user.i} #{user.o}!
        p
            div Ваша заявка на участие в Уральском форуме "Кибербезопасность в финансах" сейчас находится в процессе рассмотрения.
            div Пожалуйста, пришлите в ответном письме название сессии, в которой Вы приглашены выступить.



        include mailFooter
