html
    body
        p
            b(style="font-size:1.2em") Здравствуйте, #{user.i} #{user.o}!
        p
            div Ваша заявка на участие в Финансовом конгрессе Банка России сейчас находится в процессе рассмотрения.
            div Пожалуйста, пришлите в ответном письме название сессии, в которой Вы приглашены выступить.
        p
            b(style="font-size:1.2em") Greetings!
        p
            div Your application for participation in the Financial Congress of the Bank of Russia is currently being reviewed. Please kindly explain which panel you have been invited to speak at?
            div Thank you!


        include mailFooter
