html
    body
        p
            b(style="font-size:1.2em") Здравствуйте, #{user.i} #{user.o}!
        p
            div Ваша заявка на участие в Финансовом конгрессе Банка России сейчас находится в процессе рассмотрения.
            div Пожалуйста, пришлите в ответном письме дополнительную информацию о сфере Вашей деятельности и СМИ, которое Вы представляете.
        p
            b(style="font-size:1.2em") Greetings!
        p
            div Your application for participation in the Financial Congress of the Bank of Russia is currently being reviewed. Please kindly provide additional information about the media outlet that you represent, and the reason to attend the event.
            div Thank you!


        include mailFooter
