html
    body
        p
            b(style="font-size:1.2em") Здравствуйте, #{user.i} #{user.o}!
        p
            div Ваша заявка на участие в Уральском форуме "Кибербезопасность в финансах" сейчас находится в процессе рассмотрения.
            div Пожалуйста, пришлите в ответном письме дополнительную информацию о сфере Вашей деятельности и компании, которую Вы представляете.




        include mailFooter
