html
    body
        p
            b(style="font-size:1.2em") Здравствуйте, #{user.i} #{user.o}!
        p
            div Сообщение от Оргкомитета Финансового конгресса Банка России:
            //div You have a message from the Organising Committee of the Financial Congress of the Bank of Russia:
        p
            div !{message}

        p
            span Ваша ссылка для доступа к личному кабинету участника Конгресса:&nbsp;
                a(href="https://uralcyberfin.ru/personal/" + user.guid+"/ru") <b>https://uralcyberfin.ru/personal/#{user.guid}/ru</b>
                span ,&nbsp;
        p
            div Это постоянно действующая ссылка на Вашу персональную страницу.

        include mailFooter


