html
    body
        p
            b(style="font-size:1.2em") Здравствуйте, #{user.i} #{user.o}!
        p
            div Благодарим Вас за участие в Финансовом конгрессе Банка России и направляем электронный сертификат участника.
            //div You have a message from the Organising Committee of the Financial Congress of the Bank of Russia:

        p
            span Вы можете посмотреть записи сессий деловой программы конгресса и скачать фотографии на официальном сайте&nbsp;
                a(href="https://ifcongress.ru/") <b>https://ifcongress.ru</b>
                span .&nbsp;

        include mailFooter


