
p(style="color:#878787")
    div С уважением,
    div Оргкомитет
    div Финансового конгресса
    div Банка России
    div <br>
    div Kind regards,
    div Organising Committee
    div Of the Financial Congress
    div Of the Bank of Russia

    div
        a(href="https://ifcongress.ru") https://ifcongress.ru
    div
        a(href="mailto:info@ifcongress.ru") info@ifcongress.ru
    div +7 (800) 300-69-23
    <img src="cid:footerLogo" style="margin-top:24px" width="300"/>
